@media only screen and (max-width: 991px) {
	.slogan1 {
    	font-size: 50px;
	}
}
@media only screen and (max-width: 768px) {
	.slogan1 {
    	font-size: 45px;
	}
	.button {
		font-size: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}	
	/* back to top icon */
	.cd-top {
		width: 50px;
		height: 50px;
	}
}
@media only screen and (max-width: 568px) {
	.slogan1 {
    	font-size: 35px;
	}
}
@media only screen and (max-width: 375px) {
	.button {
		font-size: 13px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

